[Desktop Entry]
Name=Pi Presents Editor
Comment=Integrated Development Environment for Python
Exec= python /home/pi/pipresents/pp_editor.py
Icon=/home/pi/pipresents/billboard_picture.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
